* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  background: #030303;
  color: #eaeaea;
  font-family: 'Noto Serif SC', 'Source Han Serif SC', 'Songti SC', STSong, SimSun, serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
